.Game-over {
    display: flex; 
    flex-direction: column;
    height: 100%; 
    justify-content: center;
    color: rgb(255, 248, 248); 
}

.Replay-btn {
    height: 90px;
    width: 320px;
    margin: 0 auto;
    font-size: 36px;
    cursor: pointer;
    border: 2px solid rgb(255, 247, 248); 
    background-color: rgb(32, 32, 32);
    color: rgb(255, 248, 248); 
}

.Replay-btn:hover {
    border: 2px solid rgb(253, 250, 250); 
    background-color: rgb(24, 24, 24);
}